*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Roboto';*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;       /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;        /* Firefox en macOS */
    text-rendering: optimizeLegibility;        /* Mejora kerning y ligaduras */
}
/*Para que el scroll al acceder a los enlaces del Nav sean suaves*/
html {
  scroll-behavior: smooth;
}
/*Para que el scroll al acceder a los enlaces del Nav sean suaves*/

.radius-superiorIzquierda-inferiorIzquierda-5px{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.radius-superiorDerecho-inferiorDerecho-5px{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

main{
    background-color: rgb(97, 97, 97);
    /*background-color: rgb(201, 200, 200);*/ 
}

/* Fuentes -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*---h2 para titulos:----*/
.titulos2{
    margin: 0 auto;
    /*color: rgb(245, 243, 243) ;*/
    width: 1280px;
    max-width: 1300px;
    margin-bottom: 20px;
    background-color: cadetblue ;
    border-radius: 25px;
    padding: 10px 0 10px 35px ;
    color: rgb(31, 31, 31);
}
@media(max-width:1280px){
    .titulos2{
        width: 100%;
    }
}
.titulos3 {
    width: 100%;
    height: 70px;
    display: flex;
    color:  rgb(230, 230, 230);
    /*padding-top: 15px;*/
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    background-color:  rgb(58, 58, 58);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer; 
}
.titulos3:hover{
    background-color: rgb(78, 78, 78);
}
.rotarFlecha {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}/*FLECHA DE LOS ACORDEON*/

.texto1{
    width: 70%;
    margin: 0 auto;
    padding: 50px; 
    border-radius: 5px;
}
.texto1 ul {
    padding-left: 50px;
}

.fontTexto-1{
    background-color: rgb(71, 71, 71);
    color: rgb(230, 230, 230);
}
.centrarTexto{
    display: flex;
    width: 100%;
    justify-content: center;
}

.enlaceBtn1{
   /*background-color:  rgb(44, 44, 44);*/
   background-color: rgb(61, 61, 61);
   color:rgb(230, 230, 230);
   text-decoration: none;
   padding: 10px;
   border-radius: 25px;  
   
}
.enlaceBtn1:hover{
    background-color: rgb(78, 78, 78);
}
.btnCV{
    box-shadow: 1rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*suaviza el cambio de posición y sombra.*/
    font-size: 1.1rem;
}
.btnCV:hover{
    transform: translateY(-10px); /*-  mueve la tarjeta 10px hacia arriba*/
    box-shadow: 1.5rem 2rem 3rem -0.5rem rgba(0, 0, 0, 0.35);/* aumenta la sombra para dar más profundidad*/
}

/* Fuentes -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Menu NAV -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.nav1{
    background-color: rgb(44, 44, 44);
    height: 150px;
    padding: 0 60px;
}
.contentHeader{
    width: 100%;
    height: 90px;
}

.menu1{
    display: flex;
    justify-content: end;
    gap: 50px;
    padding: 10px;
    max-width: 1800px;
    margin: 0 auto  ;
}

.menu1 li{
    color: rgb(230, 230, 230);
    list-style: none;
    /*font-size: 18px;*/
    font-size: 1.1rem;
    cursor: pointer;
}
.menu1 li a{
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.logo{
     max-width: 100%;
    height: auto;
    margin-right: auto; /* Empuja hacia la izquierda sin romper el layout */
}
.logo img{
    width: 32px;
}

 #hamburger{
        display: none;
        width: fit-content;
    }
#hamburger img{
    width: 35px;
    cursor: pointer;
}
#hamburger img:hover{
    background-color:  rgb(73, 73, 73);
    border-radius: 5px;
}

.menu2 {
    display: none;
    flex-direction: column;
    padding: 5px 10px;
    background-color: rgb(44, 44, 44);
    z-index: 1000;
}

.menu2 li {
    list-style: none;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(44, 44, 44);
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(230, 230, 230);
    width: 100%;
    
  }
  .menu2 li:hover{
    background-color:  rgb(73, 73, 73);
  }

  .menu2 li span {
    cursor: pointer;
  }

  .menu2 li a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    text-decoration: none;
  }

@media (max-width: 866px) {
    .menu1 {
        display: none;
    }
    #hamburger{
        display: flex;
        flex-direction: column;
    } 
}
/* Menu NAV -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Presentación -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.divPresentacion{
    width: 100%;
    padding: 50px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    gap: 30px;
}
.divPresentacion h1{
    font-size: 30px;
}
.divPresentacion h4{
   /* text-decoration: underline;*/
    /*font-style: italic;*/
    font-size: 1.1rem;
    /*background-color: rgb(230, 230, 230);*/
    background-color:rgb(133, 186, 189);
    padding: 3px 20px;
    border-radius: 20px;
    color: rgb(31, 31, 31);
}

.divPresentacion2{
    max-width: 1280px;
    padding: 15px 100px;
   background-color:rgb(176, 215, 218);
   /*background-color: rgb(92, 91, 91);*/
   /*color: rgb(230, 230, 230);*/
   font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    line-height: 1.5;
}
.divPresentacion2 p{
    text-indent: 2em;
}
.contenTextPresent{
    text-align: justify;
    padding: 20px;
}

@media (max-width: 1279px) {
    .divPresentacion2{
        padding: 50px;
        border-radius: 1px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .divPresentacion2{
        padding: 20px;
    }
}
@media (max-width: 600px) {
    .divPresentacion2{
        font-size: 0.9rem;
    }
}
@media (max-width: 500px) {
    .divPresentacion2{
        padding: 5px;
    }
}

/* Presentación -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* TEcnologias-Tarjetas -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.divTarjTecnologias{   
    background-color: rgb(71, 71, 71);
    border-radius: 5px;
    /*padding: 20px;*/
    /*padding-left: 50px;*/
    /*padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;*/
    /*padding-bottom: 40px;*/
    width: 1260px;
    
}
.divTarjTecnologias hr{
    /*width: 95%;*/
}
.divAgruparTarjTec {
  display: grid;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
}

.divAgruparTarjTec.visible {
  max-height: 1000px;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centrarUltimas2{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    gap: 5px;
}
@media (max-width: 1199px) {
    .divTarjTecnologias{
        width: 100%;
    }   
}

@media (max-width: 1160px) {
    .divAgruparTarjTec {
        grid-template-columns: repeat(3, 1fr);
    }
     .centrarUltimas2{
        all: unset; /* elimina todos los estilos heredados */
        display: contents;
    }
}

@media (max-width: 920px) { 
    .divAgruparTarjTec {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 693px) {
    .divAgruparTarjTec {
        grid-template-columns: 1fr;
        /*padding: 20px 0;*/
        justify-items: center;
    }
    .divTarjTecnologias{
        padding: 5px;
    }
}
.titulos3Grid {
 /* grid-column: 1 / -1; /* Hace que el título ocupe toda la fila */
  /*margin-left: 15px;*/
  
}
.tarjetasTec{
    background-color:  rgb(44, 44, 44);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(126, 125, 125) ;
    border-radius: 5px;
    margin: 15px;
    outline: 10px solid rgb(44, 44, 44);
    /*height: 100px;
    width: 220px;*/
    height: 80px;
    width: 200px;
    color:  rgb(230, 230, 230);
    box-shadow: 1rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*suaviza el cambio de posición y sombra.*/
}
.tarjetasTec:hover{
    transform: translateY(-10px); /*-  mueve la tarjeta 10px hacia arriba*/
    box-shadow: 1.5rem 2rem 3rem -0.5rem rgba(0, 0, 0, 0.35);/* aumenta la sombra para dar más profundidad*/
}

.divImgTec{
    width: 50px;
    height: 50px;    
}
.divImgTec img{
    width: 100%;
    border-radius: 2px;
}
/* Tecnologias-Tarjetas -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Proyectos-Tarjetas -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.divAproyectos{
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.divTarjetas{    
    border-radius: 5px;
    /*background-color: rgb(236, 236, 236); dassd*/
    background-color: rgb(71, 71, 71);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales*/
    justify-items: center;
    justify-content: center;
    gap: 30px;
    /*margin-bottom: 50px;*/
    cursor: pointer;
}

.centrarUltimas{
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.tarjeta{
    width: 400px;
    height: 450px;
    /*border: solid 1px rgb(168, 167, 167);*/
    border: solid 1px rgb(126, 125, 125) ;
    border-radius: 5px;
    background-color:rgb(44, 44, 44);
    /*background-color: rgb(236, 236, 236);*/   
    box-shadow: 1rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding-top: 5px ;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*suaviza el cambio de posición y sombra.*/
    /*quitar para tema claro*/
    /*outline: 10px solid rgb(44, 44, 44);*/
    outline: 10px solid rgb(44, 44, 44);
    color:rgb(230, 230, 230);  
}

.tarjeta:hover {
  transform: translateY(-10px); /*-  mueve la tarjeta 10px hacia arriba*/
  box-shadow: 1.5rem 2rem 3rem -0.5rem rgba(0, 0, 0, 0.35);/* aumenta la sombra para dar más profundidad*/
}
.parrafoTarj{
    width: 87%;
    height: 150px; 
    text-align: justify;
    
}
.parrafoTarj p{
    line-height: 1.5;
    font-size: 15px;
}
.parrafoTarj2 p{
    display: none;
    text-align: justify;
    line-height: 1.5;
}
.parrafoTarj2 a{
    display: none;
    text-align: justify;
}
.divImgTarj{
    width: 97%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: whitesmoke;
}
.divImgTarj img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#verProyectos{
    display: none;
}
.hr-verProyectos{
    display: none;
    width: 100%;
}
@media (max-width: 1344px) {
    .divTarjetas{
        width: 100%;
    }
    .tarjeta{
        width: 390px;
    }
}
@media (max-width: 1278px) {
    .divTarjetas {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
        grid-template-columns: repeat(2, 1fr);
        /*padding-left:200px ;
        padding-right: 200px;*/
    }
    #verProyectos{
        display: flex;
    }
    .hr-verProyectos{
        display: block;
    }
    .divTarjetas.visible{
    max-height: 3000px;
    opacity: 1;
    padding: 40px;

}
    /*clase para dar funcionalidad de QUITAR contenedor CentrarUltimas*/
    .centrarUltimas {
        all: unset; /* elimina todos los estilos heredados */
        display: contents;
    }
    .tarjeta{
        width: 400px;
    }

}
/*
@media (max-width: 1230px) {
    .divTarjetas {
        padding-left:150px;
        padding-right:150px;
    }
    
}*/
@media (max-width: 871px) {
    .divTarjetas {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center; /* Centra horizontalmente cada ítem */       
    }
}
@media (max-width: 600px) {
    .divTarjetas.visible {
       padding: 40px 5px;
        
    }
}
@media (max-width: 404px) {
    .tarjeta {
       width: 100%;
        
    }
}
/* Proyectos-Tarjetas -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: cadetblue;
}
.divFooter{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.contentFooter1{
    display: flex;
    justify-content: space-between ;
    width: 80%;
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
    
}
.contentFooter1 a{
  color: rgb(27, 27, 27);
  color: rgb(2, 53, 119);
  text-decoration: none;
}

@media (max-width: 900px) {
    .contentFooter1 {
       flex-direction: column;
       gap: 10px; 
    }
    .divFooter{
      height: auto;
      padding-bottom: 20px;
    }
}
/* Footer -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Modal oculto Tarjetas de proyectos -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.divContenedorFondoModalClass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* fondo oscuro */
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.divContentModal {
  width: fit-content;
  height: auto;
  /*background-color: rgb(236, 236, 236);*/
  /*background-color: rgb(71, 71, 71);*/
  background-color: rgb(230, 230, 230);
  /*color: rgb(230, 230, 230);*/
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.divContentModalApp{
    border: solid 1px rgb(126, 125, 125) ;
    border-radius: 10px;
    background-color:rgb(44, 44, 44);
    color: rgb(230, 230, 230);
    outline: 10px solid rgb(44, 44, 44);
}

.btnCerrarModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.modalImg {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.modalImg img{
    width: 100%;
    border-radius: 10px;
}

.divModalText {
  width: 800px;
  height: auto;
  text-align: justify;
  line-height: 1.5;
}

.divModalText a {
    color: rgb(230, 230, 230);
}

@media (max-width: 600px) {
    .divContentModalApp{
        padding: 30px 15px;
    }
    .divContentModalApp .divModalText {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .divContentModalApp{
        font-size: 15px;
    }
    .divContentModalApp .modalImg{
       width: 300px;
    }
}

/* Modal oculto Tarjetas de proyectos -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Modal oculto Politica de privacidad -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.textoPoliModal{ 
    width: 1200px;
}

/* Modal oculto Politica de privacidad -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Tarjeta de contacto -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.divContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 50px;
}

.tarjetaContacto{
    border-radius: 5px;
    /*padding: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(56, 56, 56);*/
}

.divTextoContacto{
    cursor: pointer;
    /*background-color:  rgb(44, 44, 44);*/
    padding: 20px;
    /*border-radius: 15px;*/
    color: rgb(230, 230, 230) ;
    border: solid 1px rgb(126, 125, 125) ;
    background-color:  rgb(44, 44, 44);
    border-radius: 5px;
    margin: 15px;
    outline: 10px solid rgb(44, 44, 44);
    box-shadow: 1rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*suaviza el cambio de posición y sombra.*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.divTextoContacto .divImgTec{
    width: 40px;
}
.divTextoContacto:hover{    
    background-color:  rgb(73, 73, 73);
    color: rgb(184, 183, 183);
    transform: translateY(-10px); /*-  mueve la tarjeta 10px hacia arriba*/
    box-shadow: 1.5rem 2rem 3rem -0.5rem rgba(0, 0, 0, 0.35);/* aumenta la sombra para dar más profundidad*/
}

/*Tarjeta de contacto -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*Politica de Privacidad--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.contentTexto{
    padding: 50px 0;
}
@media (max-width: 800px) {
    .contentTexto .texto1{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contentTexto .texto1{
       padding: 20px;
    }
}

/*Politica de Privacidad--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*modal correo --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.centrarModal1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    align-items: center;
}
.centrarModal1 img{
    border-radius: 80px;
}
#btnCopiarContact{
    font-size: 1rem;
    padding: 15px;
    cursor:pointer;
    border: none;                  
    box-shadow: none;              /* Sin sombra */
    outline: none;                 /* Sin contorno al hacer clic */
    appearance: none;
}
#btnCopiarContact:hover{
    background-color:  rgb(73, 73, 73);
    color: rgb(184, 183, 183);
}
/*modal correo --------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*media query modales--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1000px) {
    .textoPoliModal{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .divContentModal{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .divModalText{
        width: 80%;
        height: auto;
    }
} 

/*media query modales--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/